<h1>Aces Up</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<div id = "score_btn">Score: </div>

<tc class="columnOfCards" id="c0">
    <table>
        <td>Row 1</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c1">
    <table>
        <td>Row 2</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c2">
    <table>
        <td>Row 3</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c3">
    <table>
        <td>Row 4</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>


<button id="dealButton">Deal</button>
<BR>Remove from:
<button id="Remove1">Column1</button>
<button id="Remove2">Column2</button>
<button id="Remove3">Column3</button>
<button id="Remove4">Column4</button>

<div id="moveContainer">
  <BR><button id="moveButton">Move</button> from
    <select id="from_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
      <option value="3">Column 4</option>
    </select>
    to
    <select id="to_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
      <option value="3">Column 4</option>
    </select>
</div>

    <button id="myBtn">HELP</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
               <b>This game will work properly on Chrome browser.</b>
               <br><br> 
               <b>Rule</b>
               <br>
               <b>1.</b> Deal four cards in a row face up.
               <br><b>2.</b> If there are two or more cards of the same suit, discard all but the highest-ranked card of that suit. Aces rank high.
               <br><b>3.</b> Repeat step 2 until there are no more pairs of cards with the same suit.
               <br><b>4.</b> Whenever there are any empty spaces, you may choose the top card of another pile to be put into the empty space. After you do this, go to Step 2.
               <br><b>5.</b>When there are no more cards to move or remove, deal out the next four cards from the deck face-up onto each pile.
               <br><b>6.</b> Repeat Step 2, using only the visible, or top, cards on each of the four piles.
               <br><b>7.</b> When the last four cards have been dealt out and any moves made, the game is over. The fewer cards left in the tableau, the better. To win is to have only the four aces left.
               <br>
               <br><b>TIP</b>: When the game ends, the number of discarded cards is your score. The maximum score (and thus the score necessary to win) is 48, which means all cards have been discarded except for the four aces, thus the name of the game.
               <br><b>Source from</b>: Wikipedia (https://en.wikipedia.org/wiki/Aces_Up)
            </p>
        </div>
    </div>
    <button id="myBtn_credit">Credit</button>
    <div id="myModal_credit" class="modal_credit">
        <div class="modal-content_credit">
            <span class="close">&times;</span>
            <p>
                <b>Credit
                <br>Oregon State University - CS361 (Fall,2017)
                <br>Team 34 
            </p>
        </div>
    </div>
    <button onclick="rst_button1()">RESET</button>

<script>

    var game;
    var score_discard = 0;
    /*score_discard++;
    document.getElementById('score_btn').innerHTML = "Score: " + score_discard;*/
    //From here
    var modal = document.getElementById('myModal');
    var modal_credit = document.getElementById('myModal_credit');
    var btn = document.getElementById("myBtn");
    var btn_credit = document.getElementById('myBtn_credit');
    var span = document.getElementsByClassName("close")[0];
    var span_credit = document.getElementsByClassName("close")[1];
    //var score_show = document.getElementById('score_btn').innerHTML = "Score: " + score_discard;
    
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    btn_credit.onclick = function() {
        modal_credit.style.display = "block";
    }
    span_credit.onclick = function() {
        modal_credit.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal_credit) {
            modal_credit.style.display = "none";
        }
    }

    function rst_button1() {
        if (confirm('Are you sure to reset the game?')) {
            location.reload();
        } else {
            alert("You can do it, try it more!");
        }
    }

    function display(game) {
        console.log(game);

        $('.columnOfCards .cardLocation').html("");

        $.each(game.p.cols[0], function (key, val) {
            $('#c0 .l' + key).html(val.value + val.suit);
        });

        $.each(game.p.cols[1], function (key, val) {
            $('#c1 .l' + key).html(val.value + val.suit);
        });

        $.each(game.p.cols[2], function (key, val) {
            $('#c2 .l' + key).html(val.value + val.suit);
        });

        $.each(game.p.cols[3], function (key, val) {
            $('#c3 .l' + key).html(val.value + val.suit);
        });


    }

    // Calls ApplicationController.gameGet()
    $.getJSON("http://localhost:8080/game", function (data) {
        display(data);
        game = data;
    });


    $("#dealButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/dealGame",
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });


    function removeCard(colNumber) {
        $.ajax({
            type: "POST",
            url: "/removeCard/" + colNumber,
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
                score_discard++;
                document.getElementById('score_btn').innerHTML = "Score: " + score_discard;
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });

    }

    $("#Remove1").click(function () {
        removeCard(0);
    });
    $("#Remove2").click(function () {
        removeCard(1);
    });
    $("#Remove3").click(function () {
        removeCard(2);
    });
    $("#Remove4").click(function () {
        removeCard(3);
    });

$("#moveButton").click(function(){
  var f = document.getElementById("from_col");
  var colFrom = f.options[f.selectedIndex].value;
  //var colFrom = $("#from_col").val();
  var t = document.getElementById("to_col");
  var colTo = t.options[t.selectedIndex].value;
  //var colTo = $("#to_col").val();
  $.ajax({
    type: "POST",
    url: "/moveCard/"+colFrom+"/"+colTo,
    data: JSON.stringify(game),
    success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
    contentType:"application/json; charset=utf-8",
    dataType:"json",
  });
});

  </script>

</body>
</html>
