<h1>Aces Up</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<button onclick="score()" id = "scoreButton">Score: </button>


<tc class="columnOfCards" id="c0">
    <table>
        <td>Row 1</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c1">
    <table>
        <td>Row 2</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c2">
    <table>
        <td>Row 3</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>
<tc class="columnOfCards" id="c3">
    <table>
        <td>Row 4</td>
        <td class="cardLocation l0"></td>
        <td class="cardLocation l1"></td>
        <td class="cardLocation l2"></td>
        <td class="cardLocation l3"></td>
        <td class="cardLocation l4"></td>
        <td class="cardLocation l5"></td>
        <td class="cardLocation l6"></td>
        <td class="cardLocation l7"></td>
        <td class="cardLocation l8"></td>
        <td class="cardLocation l9"></td>
        <td class="cardLocation l10"></td>
        <td class="cardLocation l11"></td>
        <td class="cardLocation l12"></td>
        <td class="cardLocation l13"></td>
    </table>
</tc>


<button id="dealButton">Deal</button>
<BR>Remove from:
<button id="Remove1">Column1</button>
<button id="Remove2">Column2</button>
<button id="Remove3">Column3</button>
<button id="Remove4">Column4</button>

<div id="moveContainer">
  <BR><button id="moveButton">Move</button> from
    <select id="from_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
      <option value="3">Column 4</option>
    </select>
    to
    <select id="to_col">
      <option value="0">Column 1</option>
      <option value="1">Column 2</option>
      <option value="2">Column 3</option>
      <option value="3">Column 4</option>
    </select>
</div>

<button onclick="help_button1()">HELP</button>
<button onclick="cred_button1()">Credit</button>
<button onclick="rst_button1()">RESET</button>

<script>

    var game;

    function help_button1() {
        alert("HELP BOX");
    }

    function cred_button1() {
        alert("Credits go here");
    }

    function rst_button1() {
        if (confirm('Are you sure to reset the game?')) {
            //reset it
        } else {
            // Do nothing!
        }
    }

    function score() {
    alert("Your score: (Coming soon");

    }

    function display(game) {
        console.log(game);

        $('.columnOfCards .cardLocation').html("");

        $.each(game.cols[0], function (key, val) {
            $('#c0 .l' + key).html(val.value + val.suit);
        });

        $.each(game.cols[1], function (key, val) {
            $('#c1 .l' + key).html(val.value + val.suit);
        });

        $.each(game.cols[2], function (key, val) {
            $('#c2 .l' + key).html(val.value + val.suit);
        });

        $.each(game.cols[3], function (key, val) {
            $('#c3 .l' + key).html(val.value + val.suit);
        });


    }

    // Calls ApplicationController.gameGet()
    $.getJSON("http://localhost:8080/game", function (data) {
        display(data);
        game = data;
    });


    $("#dealButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/dealGame",
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });


    function removeCard(colNumber) {
        $.ajax({
            type: "POST",
            url: "/removeCard/" + colNumber,
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });

    }


    $("#Remove1").click(function () {
        removeCard(0);
    });
    $("#Remove2").click(function () {
        removeCard(1);
    });
    $("#Remove3").click(function () {
        removeCard(2);
    });
    $("#Remove4").click(function () {
        removeCard(3);
    });

$("#moveButton").click(function(){
  var f = document.getElementById("from_col");
  var colFrom = f.options[f.selectedIndex].value;
  //var colFrom = $("#from_col").val();
  var t = document.getElementById("to_col");
  var colTo = t.options[t.selectedIndex].value;
  //var colTo = $("#to_col").val();
  $.ajax({
    type: "POST",
    url: "/moveCard/"+colFrom+"/"+colTo,
    data: JSON.stringify(game),
    success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
    contentType:"application/json; charset=utf-8",
    dataType:"json",
  });
});

  </script>


</body>
</html>
